:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.navbar {
  --igx-navbar-background: var(--ig-primary-500);
  height: max-content;
  min-width: min-content;
}
.nav-drawer {
  min-width: min-content;
  min-height: 0;
  max-width: 105px;
  flex-shrink: 0;
}
.view-container {
  overflow: auto;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.icon-button {
  --igx-button-foreground: white;
  --ig-size: var(--ig-size-large);
}
.navbar-content {
  gap: 1rem;
}
.icon {
  color: white;
}
.h6 {
  margin: 0;
}
.icon_1 {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: var(--ig-surface-500);
}
.text {
  color: var(--ig-surface-500);
  height: max-content;
  min-width: min-content;
}
.hyperlink {
  color: var(--ig-surface-500);
  cursor: pointer;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.group {
  background-color: var(--ig-secondary-500);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: 8px;
  min-width: 50px;
  min-height: 8px;
  max-height: 8px;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_2 {
  background-color: var(--ig-primary-500);
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  height: 48px;
  min-width: 50px;
  min-height: 48px;
  max-height: 48px;
}
.group_3 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 183px;
  min-width: 50px;
  min-height: 30px;
  max-width: 183px;
}
